WSDL.xml

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://gymService/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SoapGymServiceService" targetNamespace="http://gymService/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://gymService/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://gymService/">
            <xs:element name="deleteMemberAndContacts" type="tns:deleteMemberAndContacts"/>
            <xs:element name="deleteMemberAndContactsResponse" type="tns:deleteMemberAndContactsResponse"/>
            <xs:element name="getAllMembersAndContacts" type="tns:getAllMembersAndContacts"/>
            <xs:element name="getAllMembersAndContactsResponse" type="tns:getAllMembersAndContactsResponse"/>
            <xs:element name="getMemberAndContacts" type="tns:getMemberAndContacts"/>
            <xs:element name="getMemberAndContactsResponse" type="tns:getMemberAndContactsResponse"/>
            <xs:element name="postMemberAndContacts" type="tns:postMemberAndContacts"/>
            <xs:element name="postMemberAndContactsResponse" type="tns:postMemberAndContactsResponse"/>
            <xs:element name="putMemberAndContacts" type="tns:putMemberAndContacts"/>
            <xs:element name="putMemberAndContactsResponse" type="tns:putMemberAndContactsResponse"/>
            <xs:complexType name="getMemberAndContacts">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getMemberAndContactsResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:memberContact"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="memberContact">
                <xs:sequence>
                    <xs:element minOccurs="0" name="contact" type="tns:contact"/>
                    <xs:element minOccurs="0" name="member" type="tns:member"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="contact">
                <xs:sequence>
                    <xs:element minOccurs="0" name="email" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="number" type="xs:string"/>
                    <xs:element minOccurs="0" name="surname" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="member">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="membershipEnd" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="membershipStart" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="plan" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="deleteMemberAndContacts">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="deleteMemberAndContactsResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="postMemberAndContacts">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="surname" type="xs:string"/>
                    <xs:element minOccurs="0" name="email" type="xs:string"/>
                    <xs:element minOccurs="0" name="number" type="xs:string"/>
                    <xs:element minOccurs="0" name="membershipStartDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="membershipEndDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="plan" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="postMemberAndContactsResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getAllMembersAndContacts">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="getAllMembersAndContactsResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:memberContact"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="putMemberAndContacts">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="surname" type="xs:string"/>
                    <xs:element minOccurs="0" name="email" type="xs:string"/>
                    <xs:element minOccurs="0" name="number" type="xs:string"/>
                    <xs:element minOccurs="0" name="membershipStartDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="membershipEndDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="plan" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="putMemberAndContactsResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="NoDataFoundException" type="tns:NoDataFoundException"/>
            <xs:complexType name="NoDataFoundException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ContactsClientException" type="tns:ContactsClientException"/>
            <xs:complexType name="ContactsClientException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="InvalidDataException" type="tns:InvalidDataException"/>
            <xs:complexType name="InvalidDataException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="AlreadyExistsException" type="tns:AlreadyExistsException"/>
            <xs:complexType name="AlreadyExistsException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="postMemberAndContactsResponse">
        <wsdl:part element="tns:postMemberAndContactsResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteMemberAndContacts">
        <wsdl:part element="tns:deleteMemberAndContacts" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllMembersAndContacts">
        <wsdl:part element="tns:getAllMembersAndContacts" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="ContactsClientException">
        <wsdl:part element="tns:ContactsClientException" name="ContactsClientException"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="putMemberAndContacts">
        <wsdl:part element="tns:putMemberAndContacts" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getMemberAndContacts">
        <wsdl:part element="tns:getMemberAndContacts" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AlreadyExistsException">
        <wsdl:part element="tns:AlreadyExistsException" name="AlreadyExistsException"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="InvalidDataException">
        <wsdl:part element="tns:InvalidDataException" name="InvalidDataException"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="NoDataFoundException">
        <wsdl:part element="tns:NoDataFoundException" name="NoDataFoundException"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllMembersAndContactsResponse">
        <wsdl:part element="tns:getAllMembersAndContactsResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="postMemberAndContacts">
        <wsdl:part element="tns:postMemberAndContacts" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="putMemberAndContactsResponse">
        <wsdl:part element="tns:putMemberAndContactsResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getMemberAndContactsResponse">
        <wsdl:part element="tns:getMemberAndContactsResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteMemberAndContactsResponse">
        <wsdl:part element="tns:deleteMemberAndContactsResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="GymService">
        <wsdl:operation name="getMemberAndContacts">
            <wsdl:input message="tns:getMemberAndContacts" name="getMemberAndContacts"> </wsdl:input>
            <wsdl:output message="tns:getMemberAndContactsResponse" name="getMemberAndContactsResponse"> </wsdl:output>
            <wsdl:fault message="tns:NoDataFoundException" name="NoDataFoundException"> </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteMemberAndContacts">
            <wsdl:input message="tns:deleteMemberAndContacts" name="deleteMemberAndContacts"> </wsdl:input>
            <wsdl:output message="tns:deleteMemberAndContactsResponse" name="deleteMemberAndContactsResponse"> </wsdl:output>
            <wsdl:fault message="tns:NoDataFoundException" name="NoDataFoundException"> </wsdl:fault>
            <wsdl:fault message="tns:ContactsClientException" name="ContactsClientException"> </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="postMemberAndContacts">
            <wsdl:input message="tns:postMemberAndContacts" name="postMemberAndContacts"> </wsdl:input>
            <wsdl:output message="tns:postMemberAndContactsResponse" name="postMemberAndContactsResponse"> </wsdl:output>
            <wsdl:fault message="tns:AlreadyExistsException" name="AlreadyExistsException"> </wsdl:fault>
            <wsdl:fault message="tns:InvalidDataException" name="InvalidDataException"> </wsdl:fault>
            <wsdl:fault message="tns:ContactsClientException" name="ContactsClientException"> </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllMembersAndContacts">
            <wsdl:input message="tns:getAllMembersAndContacts" name="getAllMembersAndContacts"> </wsdl:input>
            <wsdl:output message="tns:getAllMembersAndContactsResponse" name="getAllMembersAndContactsResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="putMemberAndContacts">
            <wsdl:input message="tns:putMemberAndContacts" name="putMemberAndContacts"> </wsdl:input>
            <wsdl:output message="tns:putMemberAndContactsResponse" name="putMemberAndContactsResponse"> </wsdl:output>
            <wsdl:fault message="tns:AlreadyExistsException" name="AlreadyExistsException"> </wsdl:fault>
            <wsdl:fault message="tns:InvalidDataException" name="InvalidDataException"> </wsdl:fault>
            <wsdl:fault message="tns:ContactsClientException" name="ContactsClientException"> </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SoapGymServiceServiceSoapBinding" type="tns:GymService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getMemberAndContacts">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getMemberAndContacts">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getMemberAndContactsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NoDataFoundException">
                <soap:fault name="NoDataFoundException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteMemberAndContacts">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="deleteMemberAndContacts">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deleteMemberAndContactsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="NoDataFoundException">
                <soap:fault name="NoDataFoundException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="ContactsClientException">
                <soap:fault name="ContactsClientException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="postMemberAndContacts">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="postMemberAndContacts">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="postMemberAndContactsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AlreadyExistsException">
                <soap:fault name="AlreadyExistsException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidDataException">
                <soap:fault name="InvalidDataException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="ContactsClientException">
                <soap:fault name="ContactsClientException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllMembersAndContacts">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getAllMembersAndContacts">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAllMembersAndContactsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="putMemberAndContacts">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="putMemberAndContacts">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="putMemberAndContactsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AlreadyExistsException">
                <soap:fault name="AlreadyExistsException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidDataException">
                <soap:fault name="InvalidDataException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="ContactsClientException">
                <soap:fault name="ContactsClientException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SoapGymServiceService">
        <wsdl:port binding="tns:SoapGymServiceServiceSoapBinding" name="SoapGymServicePort">
            <soap:address location="http://172.19.0.3:8080/SoapGymService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>